@font-face {
    font-family: Runescape;
    src: url("../fonts/RuneScape-Bold-12.otf") format("opentype");
}

body {
    background-color: #393939;
    color: lightgray;
    margin: 0;
    font-family: "Calibri", serif;
}

@media (orientation: landscape) {
    body {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

a {
    color: Lightgrey;
}